@charset "utf-8";
/* CSS Document */
.bodybackgroundcolor{
	background-color:#D7F0FD;
}
.banner{
	width:auto;
	min-height:140px;
	min-width:150px;
	margin-left:60px;
	}
.loginbox{
	width:auto;
	height:auto;
	margin-top:50px;
	padding-bottom:100px;
	background-image:url(../image/1.jpg);
	}
.leftloginbox{
	padding-top:50px;
	padding-bottom:15px;
	margin-left:0px;
	width:auto;
	height:auto;
	}
.leftloginboxbar{
	background-color:#999;
	margin-left:15px;
	margin-right:15px;
	padding-top:5px;
	padding-bottom:5px;
	}
.leftinputbox{
	margin-top:10px;
	margin-left:15px;
	margin-right:15px;
	}
.rightloginbox{
	margin-top:20px;
	width:auto;
	height:auto;
	}
.footer{
	background-color:#9FA49B;
	padding:15px 0px 0px 0px;
	height:auto;
	width:auto
	}
.registerbox{
	background-color:#EDEDED;
	width:auto;
	height:auto;
	margin-top:50px;
	text-align:center;
	margin-bottom:20px;
	}
.inputbox{
	margin-top:10px;
	margin-left:-20px;
	margin-right:15px;
	}